@charset "UTF-8";

/* CSS Doc */

.hidden {
    display: none !important;
}

.show {
    display: block;
}

/* Try to cut-down the CPU usgae and play the animation smootly */

.force-cpu-asos {
    -webkit-transform: translate(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-font-smooting: antialiased;
}

body {
    background-color: #c63535;

}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 50px;
    text-align: 600;
    text-shadow: -2px -2px 0 #ffff, 1px -1px 0 #ffff, -1, 1px 0 #ffff, 4px 4px 0 #ffff;
    color: #2d7a70;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color:#53938c;
	font-family: sans-serif;
}

img, a {
    cursor:pointer;
}

.container {
    margin: 0 auto;
    padding: 0 30px;
}

#game-area {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#game-contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  height: 100vh;
}

#musical ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    height: 85vh;
    background-color: #53938c;
    border-radius: 40px;
    -webkit-animation: left-in 1s 1;
    animation: left-in 1s 1;
    -webkit-filter: drop-shadow(0px 3px 1px #06362b);
    filter: drop-shadow(0px 3px 1px #06362b);
}

@-webkit-keyframes left-in {
    0% {
        opacity: 0;
        transform: translateX(-120%);
    }
    1% {
        opacity: 1;
    }
    80% {
        transform: translateX(6%);
    }
    90% {
        transform: translateX(4%);
    }
    100% {
        transform: translateX(0%);
    }
}

keyframes left-in {
    0% {
        opacity: 0;
        transform: translateX(-120%);
    }
    1% {
        opacity: 1;
    }
    80% {
        transform: translateX(6%);
    }
    90% {
        transform: translateX(4%);
    }
    100% {
        transform: translateX(0%);
    }
}

.musicButton {
    cursor: pointer;
    padding: 15px;
    background-color: #649f99;
    border-radius: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    box-shadow: 0.5px 0.5px 0 #2D7A70, 0px 0px 0 #2d7a70, 0px 1px 0 #2d7a70, 2px 5px 0 #2d7a70;
    color: #53938c;
}

.musicButton img {
    height: 35px;
    width: auto;
}

.musicButton img:last-child {
    width: 35px;
}

.musicButton:active {
    background-color: #649f99;
    box-shadow: 0.5px 0.5px 0 #2D7A70, 0px 0px 0 #2d7a70, 0px 1px 0 #2d7a70, 2px 5px 0 #2d7a70;
    -webkit-transform: translate(2px, 5px);
    -ms-transform: translate(2px, 5px);
    transform: translate(2px, 5px);
}

.musicButton:focus {
    background-color: #649f99;
    outline: none;
    color: #2D7A70;
    -webkit-box-shadow: inset -0.5px -0.5px #133D32, 0px 0px 0 #133D32, -1px -1px 0 #133D32, -2px -2px 0 #133D32;
    -moz-box-shadow: inset -0.5px -0.5px #133D32, 0px 0px 0 #133D32, -1px -1px 0 #133D32, -2px -2px 0 #133D32;
    box-shadow: inset -0.5px -0.5px #133D32	, 0px 0px 0 #133D32, -1px -1px 0 #133D32, -2px -2px 0 #133D32;
    -webkit-transform: translate(2px, 5px);
    -ms-transform: translate(2px, 5px);
    transform: translate(2px, 5px);
}

.musicButton:focus img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

#background-cont {
    position: relative;
    display: flex;
    flex-direction: column;
}

#background-con {
    display: flex;
    flex-direction: row;
    flex: 1 1 80vh;
    border: 2.5vh solid #53938C;
    border-radius: 30px;
    transition: all .5s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
}

/* Overlays */

.instructions-overlay {
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #000000;
    z-index: 3;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.instructions-overlay p {
   font-family: 'Open Sans', sans-serif;
   font-size: 1.3em;
   font-weight: 700;
   text-shadow: -2px -2px 0 #ffff, 1px -1px 0 #ffff, -1px 1px 0 #ffff, 2px 2px 0 #ffff;
   color: #2D7A70;
   line-height: 2em;
}

.instructions-topcon {
    display: flex;
    margin: 10% 5%;
    justify-content: space-between;
    box-sizing: border-box;
}

.instructions-drag {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100px;
    max-width: 400px;
}

#dragging-gif {
    position: absolute;
    overflow: hidden;
    max-height: 100vh;
    z-index: 1;
    display: block;
}

#dragging-gif img {
    margin-top: 10%;
    max-width: 90%;
    height: auto;
    display: block;
}

/* End Instructions of Overlay */

.one-fade {
    -webkit-animation: fade-in 5s ease 1;
    animation: fade-in 5s ease 1;
}

.one-fade {
    -webkit-animation: fade-in 5s ease 1;
    animation: fade-in 5s ease 1;
}

.fade-in {
    -webkit-animation: fade-in .3s ease;
    animation: fade-in .3s ease 1;
}

.background-overlay {
    display: none;
}

.asoOverlay {
    display: block;
    position: absolute;
    height: 94%;
    width: 100%;
    border-radius: 30px;
    background-color: #53938C;
    border: 2.5vh #649F99;
}

.asoOverlay-text {
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
}
